 <!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>发现</title>
    <link rel="stylesheet" href="css/search.css"></link>
</head>
<body>
<div id="app" class="container">
    <div class="header" style="text-align: center">
        <h1>搜索</h1>
    </div>
    <div class="search-bar" >
        <input type="text" class="search-input" v-model="keyword" id="search-input" placeholder="搜索歌曲、专辑、用户、歌单" style="width: 250px;">
        <button class="search-button" @click="search">搜索</button>
    </div>
    <div class="tab-buttons">
        <!-- 登录按钮。使用动态类绑定，当 isLoginTab 为 true 时添加 active 类 -->
        <!-- 点击按钮时，将 isLoginTab 设置为 true，以显示登录表单 -->
        <button :class="{ active: type===1 }" @click="type=1">歌曲</button>
        <!-- 注册按钮。使用动态类绑定，当 isLoginTab 为 false 时添加 active 类 -->
        <!-- 点击按钮时，将 isLoginTab 设置为 false，以显示注册表单 -->
        <button :class="{ active: type===2 }" @click="type=2">专辑</button>
        <button :class="{ active: type===3 }" @click="type=3">用户</button>

    </div>
    <div v-if="type===1">
        <template>
            <el-table
                    :data="tableData"
                    stripe
                    style="width: 100%">
                <el-table-column
                        type="index"
                        width="50">
                </el-table-column>
                <el-table-column
                        prop="title"
                        label="歌名"
                        align="center">
                </el-table-column>
                <el-table-column
                        prop="authorName"
                        label="作者"
                        align="center">
                </el-table-column>
                <el-table-column
                        label="查看"
                        align="center">
                    <template slot-scope="scope">
                        <el-button type="primary" @click="viewSong(scope.row.id)">查看</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </template>
        <!--分页工具条-->
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="[5, 10, 15, 20]"
                :page-size="5"
                layout="total, sizes, prev, pager, next, jumper"
                :total="totalCount">
        </el-pagination>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
<script>
    new Vue({
        el: '#app',
        data: {
            type : 1,
            keyword: '',
            currentPage: 1,
            pageSize: 5,
            tableData: [],
            totalCount: '',
        },
        methods: {
            search() {
                axios.post('/XuJunxi_CloudMusic/song/searchSongsByTitle', new URLSearchParams({
                    keyword: this.keyword,
                    currentPage: this.currentPage,
                    pageSize: this.pageSize
                }), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                })
                    .then(response => {
                        this.tableData = response.data.pageBean.rows;
                        this.totalCount = response.data.pageBean.totalCount;
                    })
                    .catch(error => {
                        console.error('搜索请求出错:', error);
                    })
            },
            viewSong(songId) {
                window.location.href = `song.html?id=${songId}`;
            },
            handleSizeChange(val) {
                this.currentPage=val;
                this.search();
            },
            handleCurrentChange(val) {
                this.currentPage=val;
                this.search();
            }
        }
    })
</script>
</body>
</html>