body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#forgetPasswordDiv {
    background-color: #fff;
    padding: 200px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}

#forgetPasswordDiv h1 {
    margin-bottom: 20px;
    color: #333;
}

#forgetPasswordDiv p {
    margin-bottom: 10px;
    text-align: left;
}

#forgetPasswordDiv input[type="email"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#forgetPasswordDiv input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


#forgetPasswordDiv input[type="submit"],
#forgetPasswordDiv input[type="reset"] {
    width: 35%;
    padding: 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

#forgetPasswordDiv input[type="submit"] {
    background-color: #007bff;
    color: #fff;
}

#forgetPasswordDiv input[type="submit"]:hover {
    background-color: #0056b3;
}

#forgetPasswordDiv input[type="reset"] {
    background-color: #ccc;
    color: #333;
}

#forgetPasswordDiv input[type="reset"]:hover {
    background-color: #999;
}

#forgetPasswordDiv a {
    color: #007bff;
    text-decoration: none;
}

#forgetPasswordDiv a:hover {
    text-decoration: underline;
}

#forgetPasswordDiv #subDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#forgetPasswordDiv #errorMsg {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}